<div class="container">
  <participants class="container-fluid" participants="flowCtrl.flow.users"></participants>
  <div class="flex">
    <div class="flex-column">
      <h1>{{flowCtrl.flow.name}}</h1>
      <img ng-src="{{flowCtrl.flow.img}}" alt="">
      <h2>{{flowCtrl.flow.description}}</h2>
      <h3>Private: {{flowCtrl.flow.private ? 'Yes' : 'No'}}</h3>
      <button class="btn btn-small">Create event</button>
    </div>
    <chat flow="flowCtrl.flow"></chat>
  </div>
  <h1>Events</h1>
  <section class="thumbnails container">
    <div ng-repeat="event in flowCtrl.flow.events">
      <a ui-sref='event({id: event._id})'>
        <img ng-src="{{event.img}}" alt="event image">
        <h3>{{event.name}}</h3>
        <h3>{{event.place}}
          {{event.price}}
        </h3>
                  <span class="hashtag" ng-repeat="hashtag in event.hashtags">
              {{hashtag}}
          </span>
      </a>
    </div>
  </section>

</div>
