
<div class="container">
  <h1>{{eventCtrl.event.name}}</h1>
  <div class="flex">
    <div class="flex-column">
        <img ng-src="{{eventCtrl.event.img}}" alt="" height="300">
      <h2>{{eventCtrl.event.description}}</h2>
      <h3>Date: {{eventCtrl.event.date}}</h3>
      <h3>Place: {{eventCtrl.event.place}}</h3>
      <h3>Price: {{eventCtrl.event.price}}</h3>
      <!--<span class="hashtags" ng-repeat="tag in eventCtrl.event.hashtags">
          #{{tag}}
      </span>-->
        <h1 ng-if="eventCtrl.onEvent === true">You signed to event</h1>
        <button ng-if="eventCtrl.onEvent === false" class="btn btn-inverse btn-lg btn-login" ng-click='eventCtrl.goToEvent()'>Go!</button>

    </div>
  </div>
</div>