@import "../sass/core";

body{
  background: url("../images/bg.jpg") top center;
  background-size: cover;
}

.auth{
	float: right;
}

.logo{
	display: block;
	margin-top: 20px;
	color: white;
	font-size: 20px;
}

@import "main/main";
@import "chat/chat.component";
@import "flow/flow";