.navbar{
  height: 50px;
}
.auth{
	float: right;
}

.navbar-brand{
	font-size: 20px;
  display: inline-block;
  float: left;
}

.logo{
  display: inline-block;
  float: left;
}

li{
  list-style: none;
}

.navbar-header{
  float: left;
  display: inline-block;
}

.navbar-collapse{
  float: right;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: flex-end;
}

.auth{
  display: flex;
  flex-direction: row;
  line-height: 50px;
  justify-content: space-between;
}

.auth button.btn{
  height: 30px;
}

.auth p{
  margin-right: 10px;
}
li{
  margin: 0;
}

ul.nav{
  margin-right: 40px;
  li{
    text-decoration: dotted;
  }
}
