<div class="container">
  <div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <a href="/" class="logo btn">main</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin" class="btn">Admin</a></li>
      </ul>
      <div class="auth">
        <button class="btn" ng-hide="$ctrl.isLoggedIn()" ui-sref="signup">Sign up</button>
        <button class="btn" ng-hide="$ctrl.isLoggedIn()" ui-sref="login">Login</button>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p></li>
        <button ui-sref="dashboard" class="btn">events</button>
        <li ng-show="$ctrl.isLoggedIn()"><a class="btn" ui-sref="logout">Logout</a></li>
      </div>
    </div>
  </div>
</div>
